# DataBase Configurations
DATABASE_NAME=''
DATABASE_USER=''
DATABASE_PASSWORD=''
DATABASE_HOST=''
DATABASE_PORT=5433

# Project Secret Key
SECRET_KEY='django-insecure-1o5540m@9*j!=sxx*%x-r4n&o#9o%7%%6w5b2icu@iuk@@c#33'
